<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsTtmPXfvzNuPX4IwLIgRaguIEkCTESqM</string>
	<key>GCM_SENDER_ID</key>
	<string>937667239764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unum.app</string>
	<key>PROJECT_ID</key>
	<string>unum-9a60b</string>
	<key>STORAGE_BUCKET</key>
	<string>unum-9a60b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937667239764:ios:889b4b6c4785466f79f2c1</string>
</dict>
</plist>